
h1 {
    color: white; 
    text-align: center; 
    background-color: black;
    margin:0px;
    padding: 20px

    
}

.side-bar-content {
    display: none;
    height: 12vh;
    background-color: black;
    color: white;
    position: fixed;
}

.side-bar:hover .side-bar-content {
    display: grid;
    grid-template-rows: auto auto;
}

*{
    margin: 0px;
    padding: 0px;
}



body {
    background-color: black

}

p {
    color: white;
    text-align: center;

}



.hero-section {
    width:100%  
    
        
}


button { 
    margin: 10px;
    padding: 15px 20px; 
    border: white;
    background-color: grey;
    text-align: center;
    color: white;

}


.main {

    display: flex;
    justify-content:space-around; 
}
.img {
    border: solid rgb(255, 255, 255);
    padding: 1;
    width: 300px;
    height: 400px;
  }

  
  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;

    width: 100%;
    position: absolute
    
  }
